name: Test
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

env:
  DEVELOPER_DIR: /Applications/Xcode_16.1.app/Contents/Developer

jobs:
  test:
    runs-on: macos-14
    steps:
      - uses: actions/checkout@v4
      - name: Test
        run: |
          set -ex

          brew update
          brew install docker docker-buildx docker-compose qemu
          curl -L "https://raw.githubusercontent.com/Homebrew/homebrew-core/5d01145b5a83d32e5ebee11677884ee429a6be4e/Formula/l/lima.rb" \
            -o lima.rb
          curl -L "https://raw.githubusercontent.com/Homebrew/homebrew-core/b8276941690ad4235558c4848b747eb21656f178/Formula/c/colima.rb" \
            -o colima.rb
          HOMEBREW_DEVELOPER=1 brew install --formula ./lima.rb ./colima.rb
          brew info lima

          LIMA_CELLAR="$(brew --cellar lima)"
          LIMA_VERSION="$(brew list --versions lima | awk '{print $2}')"
          LIMACTL_PATH="$LIMA_CELLAR/$LIMA_VERSION/bin/limactl"

          sudo curl -L -o "$LIMACTL_PATH" https://github.com/mikekazakov/lima-nohvf/raw/master/limactl
          sudo chmod +x "$LIMACTL_PATH"

          colima start --network-address --arch arm64 --vm-type=qemu
          export DOCKER_BUILDKIT=1
          export COMPOSE_DOCKER_CLI_BUILD=1
          docker-compose up --detach

          swift test
